.about {


    min-height:100vh;


    padding:80px 8%;


    text-align:center;


    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;


}




.about h2 {


    font-size:45px;


    margin-bottom:20px;


    color:#e2e8f0;


}




.about p {


    max-width:750px;


    font-size:20px;


    margin-bottom:50px;


    color:#cbd5e1;


    line-height:1.7;


}





/* Team Grid */


.team-grid {


    width:100%;


    display:grid;


    grid-template-columns:repeat(3,1fr);


    gap:30px;


}






.member {


    padding:40px 25px;



    background:rgba(255,255,255,0.15);


    backdrop-filter:blur(10px);



    border-radius:15px;



    border:1px solid rgba(255,255,255,0.2);



    color:white;



    transition:.4s;



}




.member:hover {


    transform:translateY(-12px) scale(1.05);


    background:rgba(255,255,255,0.25);


    box-shadow:0 20px 40px rgba(0,0,0,0.35);


}




.member-icon {


    font-size:50px;


    margin-bottom:20px;


}





.member h3 {


    font-size:28px;


    margin-bottom:12px;


    color:#38bdf8;


}





.member span {


    font-size:17px;


    color:#e2e8f0;


}





/* Tablet */


@media(max-width:900px){


.team-grid{


    grid-template-columns:repeat(2,1fr);


}


}






/* Mobile */


@media(max-width:600px){


.about{


    padding:60px 5%;


}



.about h2{


    font-size:35px;


}



.about p{


    font-size:18px;


}



.team-grid{


    grid-template-columns:1fr;


}



}