.services {


    min-height:100vh;


    padding:80px 8%;


    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;


    text-align:center;


}




.services h2 {


    font-size:45px;


    margin-bottom:50px;


    color:#e2e8f0;


}





/* Cards Grid */


.service-cards {


    width:100%;


    display:grid;


    grid-template-columns:repeat(3,1fr);


    gap:30px;


}





/* Card */


.service-card {


    min-height:300px;


    padding:40px 25px;


    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;


    text-align:center;



    background:rgba(255,255,255,0.15);


    backdrop-filter:blur(10px);



    border-radius:15px;



    border:1px solid rgba(255,255,255,0.2);



    color:white;



    transition:0.4s;


}





/* Hover */


.service-card:hover {


    transform:translateY(-12px) scale(1.05);


    background:rgba(255,255,255,0.25);


    box-shadow:0 20px 40px rgba(0,0,0,0.35);


}





/* Icon */


.service-icon {


    font-size:55px;


    margin-bottom:20px;


}





.service-card h3 {


    font-size:26px;


    margin-bottom:15px;


    color:#38bdf8;


}





.service-card p {


    font-size:17px;


    line-height:1.6;


    color:#cbd5e1;


}






/* Mobile Responsive */


@media(max-width:900px){


    .service-cards {


        grid-template-columns:repeat(2,1fr);


    }


}





@media(max-width:600px){


    .services {


        padding:60px 5%;


    }




    .services h2 {


        font-size:35px;


    }




    .service-cards {


        grid-template-columns:1fr;


    }



}