* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}


html {

    scroll-behavior:smooth;

}



body {

    font-family:Arial, sans-serif;

    min-height:100vh;


    background-image:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url("../assets/business-website.jpg");


    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;


    color:white;

    transition:0.5s;

}



/* Dark Mode */

body.dark-mode {


    background:#020617;

    color:white;

}



/* All Sections */

section {

    background:transparent;

}



/* Cards */


.card,
.service-card,
.project-card {


    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(10px);

    border-radius:15px;

    padding:20px;

    transition:0.3s;

}



/* Dark mode cards */


body.dark-mode .card,
body.dark-mode .service-card,
body.dark-mode .project-card {


    background:rgba(0,0,0,0.45);

    border:1px solid rgba(255,255,255,0.2);

}



/* Text */


body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {


    color:white;

}



body.dark-mode p,
body.dark-mode span {


    color:#cbd5e1;

}



/* Contact Form */


body.dark-mode .contact-form {


    background:rgba(0,0,0,0.45);

}



/* Inputs */


body.dark-mode input,
body.dark-mode textarea {


    background:#1e293b;

    color:white;

}



/* Theme Button */


.theme-btn {


    width:45px;

    height:45px;

    border-radius:50%;

    border:none;

    cursor:pointer;

    font-size:22px;

}