:root {


--primary-color:#2563eb;

--secondary-color:#38bdf8;

--text-color:white;

--card-bg:rgba(255,255,255,0.12);

}



.dark-mode {


--primary-color:#0f172a;

--secondary-color:#38bdf8;

--text-color:white;

--card-bg:rgba(0,0,0,0.45);


}