.header {

display:flex;

justify-content:space-between;

align-items:center;

background:#2563eb;

color:white;

padding:20px 40px;

position:sticky;

top:0;

z-index:1000;

}



.logo {

font-size:28px;

font-weight:bold;

}



.nav-links {

display:flex;

gap:25px;

list-style:none;

align-items:center;

}



.nav-links a {

color:white;

text-decoration:none;

font-size:18px;

transition:.3s;

}



.nav-links a:hover {

color:#bae6fd;

}



.theme-btn {


padding:8px 15px;

border:none;

border-radius:8px;

cursor:pointer;

background:white;

color:white;

font-weight:bold;
align-items:center;

}




.menu-btn {


display:none;

font-size:30px;

background:none;

border:none;

color:white;

cursor:pointer;


}



/* Mobile */


@media(max-width:768px){



.menu-btn{

display:block;

}




.nav-links {


position:absolute;

top:75px;

right:0;

width:230px;

background:#2563eb;


display:none;


flex-direction:column;


padding:25px;


gap:20px;


}



.nav-links.active {


display:flex;


}



}